legacy/2.06/a/Taxonomy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tdwg.org/schemas/abcd/2.06" targetNamespace="http://www.tdwg.org/schemas/abcd/2.06" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ABCD_TypeLibrary.xsd"/>
	<xs:complexType name="TaxonIdentified">
		<xs:annotation>
			<xs:documentation>Scientific or informal name as a result of an identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HigherTaxa" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wrapper element for multiple designations of higher taxa. These are higher-level classifications of the name identified, NOT a higher taxon as the sole identification. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HigherTaxon" type="HigherTaxon" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation> The scientific name of a taxon with a rank higher than Genus which is commonly used to classify the group the unit belongs to.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ScientificName" type="ScientificNameIdentified" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name of the taxon identified, formed according to the different Codes of Nomenclature which apply to scientific names - with additional elements for suffixes or other expressions commonly used in taxonomic identifications.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InformalNameString" type="StringL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The outcome of an identification event that does not adhere to the rule of a Code of Nomenclature.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="NameComments" type="StringL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Any free text comments related to the name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="CodeOfNomenclatureEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Code of Nomenclature that applies to the scientific name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameBacterial">
		<xs:annotation>
			<xs:documentation>An atomised name under the International Code of Nomenclature of Bacteria</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GenusOrMonomial" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genus name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subgenus" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subgenus name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubgenusAuthorAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author team and year of the subgenus name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpeciesEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Species epithet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubspeciesEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maps to Darwin Core 2: Subspecies</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentheticalAuthorTeamAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author team and Year of the basionym of a species or subspecies combination.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorTeamAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The author(s) who published the full name as it stands and its year.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameApprobation" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Approbation of name according to approved list, validation list,or validly published, paper in IJSB after 1980.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameBotanical">
		<xs:annotation>
			<xs:documentation>An atomised scientific name under the International Code of Botanical Nomenclature or the International Code of Nomenclature for Cultivated Plants</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GenusOrMonomial" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genus or higher taxon name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first epithet in a botanical name combination (species epithet or the epithet of the subdivision of a genus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfraspecificEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The final epithet of a botanical name of infraspecific rank. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rank" type="RankAbbreviation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The rank of the name where  needed to form it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HybridFlag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag indicating that this is a named hybrid ("x") or a graft chimaera ("+"). The attribute insertionpoint defines the name element in front of which the qualifier should be inserted (1 = before entire name, 2= before first epithet, 3 = before rank designation for second epithet.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="HybridFlag">
							<xs:attribute name="insertionpoint" type="xs:int"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AuthorTeamParenthesis" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author team of the basionym of a combination.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorTeam" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The author(s) who published the full name as it stands.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CultivarGroupName" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cultivar group name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CultivarName" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cultivar name according to the ICNCP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeDesignationNames" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container for trade names</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TradeDesignationName" type="String" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Trade name used for a specific cultivar</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameViral">
		<xs:annotation>
			<xs:documentation>An atomised scientific name under the International Code of Virus Classification and Nomenclature</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GenusOrMonomial" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genus or higher taxon name formed according to the code and representing the result of the identification. E.g. Comovirus. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViralSpeciesDesignation" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The formal name of a viral species. Examples: vaccinia virus; human herpes virus 2 (herpes simplex virus 2); poliovirus 1; Saccharomyces cerevisiae virus L-A; enterobacteria phage PRD1 [Source: ICTV].</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acronym" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The accepted acronym for the Virus, e.g. PCV for Peanut Clump Virus.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameZoological">
		<xs:annotation>
			<xs:documentation>An atomised scientific name under the International Code of Zoological Nomenclature</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GenusOrMonomial" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genus or higher taxon name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subgenus" type="Monomial" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subgenus name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpeciesEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Species epithet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubspeciesEpithet" type="Epithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maps to Darwin Core 2: Subspecies</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorTeamOriginalAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first person(s) who validly published a species-group name and the year of publication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorTeamParenthesisAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The parenthetical citation of the original author when a species-group was transferred to another genus and the year of the original publication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CombinationAuthorTeamAndYear" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The citation of the authors responsible for the new combination and the year of its publication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Breed" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the breed of an animal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamedIndividual" type="String" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Epithet">
		<xs:annotation>
			<xs:documentation xml:lang="en">A name element dependent on a genus or a species name under the bacteriological, botanical, and zoological code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Monomial">
		<xs:annotation>
			<xs:documentation xml:lang="en">A generic or higher taxon name (monomial) under the bacteriological, botanical, viral, and zoological code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HybridFlag">
		<xs:annotation>
			<xs:documentation>A multiplication or plus sign designating a hybrid or draft chimaera in botany.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RankAbbreviation">
		<xs:annotation>
			<xs:documentation xml:lang="en">The abbreviation of a taxonomic rank as used in (botanical) name strings.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:Name">
			<xs:enumeration value="subgen."/>
			<xs:enumeration value="sect."/>
			<xs:enumeration value="subsp."/>
			<xs:enumeration value="var."/>
			<xs:enumeration value="subvar."/>
			<xs:enumeration value="forma"/>
			<xs:enumeration value="f."/>
			<xs:enumeration value="subforma"/>
			<xs:enumeration value="subf."/>
			<xs:enumeration value="f.spec."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HigherTaxonRankEnum">
		<xs:annotation>
			<xs:documentation>A taxonomic rank designation above the rank of genus.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:Name">
			<xs:enumeration value="regnum"/>
			<xs:enumeration value="subregnum"/>
			<xs:enumeration value="superphylum"/>
			<xs:enumeration value="phylum"/>
			<xs:enumeration value="subphylum"/>
			<xs:enumeration value="superclassis"/>
			<xs:enumeration value="classis"/>
			<xs:enumeration value="subclassis"/>
			<xs:enumeration value="superordo"/>
			<xs:enumeration value="ordo"/>
			<xs:enumeration value="subordo"/>
			<xs:enumeration value="superfamilia"/>
			<xs:enumeration value="familia"/>
			<xs:enumeration value="subfamilia"/>
			<xs:enumeration value="tribus"/>
			<xs:enumeration value="genusgroup" xml:lang="en"/>
			<xs:enumeration value="unranked" xml:lang="en"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ScientificName">
		<xs:annotation>
			<xs:documentation>Name of the taxon identified, formed according to the different Codes of Nomenclature which apply to scientific names.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullScientificNameString" type="String">
				<xs:annotation>
					<xs:documentation>Concatenated scientific name, preferrably formed in accordance with a Code of Nomenclature, i. e. a monomial, bionomial, or trinomial plus author(s) or author team(s) and - where relevant - year, or the name of a cultivar or cultivar group, or a hybrid formula, as fully as possible.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameAtomised" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Atomised data items of the taxon identified, with subtypes according to the different Codes of Nomenclature which apply to scientific names.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Bacterial" type="NameBacterial" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Atomised name with elements according to the International Code of Nomenclature of Prokaryotes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Botanical" type="NameBotanical" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Atomised name with elements according to the International Code of Botanical Nomenclature</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Zoological" type="NameZoological" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Atomised name with elements according to the International Code of Zoological Nomenclature</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Viral" type="NameViral" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Atomised name with elements according to the International Committee on Taxonomy of Viruses</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScientificNameIdentified">
		<xs:annotation>
			<xs:documentation>Name of the taxon identified, formed according to the different Codes of Nomenclature which apply to scientific names - with additional elements for suffixes or other expressions commonly used in taxonomic identifications.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ScientificName">
				<xs:sequence>
					<xs:element name="IdentificationQualifier" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A term to qualify the identification of the unit when doubts have arisen as to its identity (e.g. "cf." or "aff."). If it applies to an atomised name, the attribute insertionpoint defines the name element in front of which the qualifier should be inserted (1 = before entire name, 2= before first epithet, 3 = before second epithet.)</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="insertionpoint">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NameAddendum" type="String" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A free-text suffix added to the taxon identified (e.g. "sensu lato"), or an additional name element in common use but without formal nomenclatural standing (e.g. Isolate names for viruses).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HigherTaxon">
		<xs:annotation>
			<xs:documentation>Taxon name used to further classify the identification result.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HigherTaxonName" type="Monomial"/>
			<xs:element name="HigherTaxonRank" type="HigherTaxonRankEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeOfNomenclatureEnum">
		<xs:annotation>
			<xs:documentation>An enumeration of the Codes of Nomenclature</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:Name">
			<xs:enumeration value="Bacteriological"/>
			<xs:enumeration value="Botanical"/>
			<xs:enumeration value="Viral"/>
			<xs:enumeration value="Zoological"/>
			<xs:enumeration value="Cultivated"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
